.contact {
    background: linear-gradient(
        rgba(0, 0, 0, 0.3), 
        rgba(0, 0, 0, 0.3)
      ), 
      linear-gradient(16deg, #4facfe, #00f2fe);
    color: white;
  padding: 60px 20px;
  text-align: center;
 
}

.contact h2 {
  font-size: 2.5rem;
  margin-bottom: 20px;
  color: #fff;
  
}

.contact p {
  font-size: 1.2rem;
  margin: 10px 0;
  line-height: 1.6;
  text-justify:inter-ideograph;
}

.contact a {
  color: #fff;
  font-weight: bold;
  text-decoration: none;
  transition: color 0.3s ease, text-shadow 0.3s ease;
}

.contact a:hover {
  color: #fff;
  
}

.container {
  max-width: 800px;
  margin: 0 auto;
}


@media screen and (max-width: 768px) {
  .contact h2 {
    font-size: 2rem;
  }

  .contact p {
    font-size: 1rem;
  }
}
