.resume {
    background: linear-gradient(
        rgba(0, 0, 0, 0.3), 
        rgba(0, 0, 0, 0.3)
      ), 
      linear-gradient(14deg, #4facfe, #00f2fe);
    color: white;
    padding: 50px 20px;
    text-align: center;
  }
  
  .resume h2 {
    font-size: 2rem;
    margin-bottom: 20px;
  }
  
  .resume .btn {
    font-size: 1.2rem;
  }
  